@* ComponentPresentation: $safeitemrootname$ *@
@model DxaModel

<div class="@Model.HtmlClasses" @Html.DxaEntityMarkup()>
    <h1 @Html.DxaPropertyMarkup(()=> Model.Headline)>@Model.Headline</h1>
</div>

